<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/add">Add New student</a> | 
			<a href="/list_students">All students</a>
		</div>	
		<h1><%= title %></h1>
