.toast {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 15px 10px 48px; 
    width: 290px;
    background: rgb(0, 0, 0);
    border-width: 1px;
    color: #ffffff;
    border-style: solid;
    border-color: #202020 #202020 #202020;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  }